body
{
    background: url('../img/laptop.jpg') ;
    background-size: cover;
}
.login-container
{
    color: white;
    top: 30%;
    left: 40%;
    position: absolute;
    margin-right: -50%;
    text-align: center;
}
.login-div{
margin: 20px;
    width: 300px;
}
.login-input
{
    background: transparent;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    outline: none;
}
.login-label
{

    padding: 10px;
    background: transparent;
    border-radius: 20px;
    border: 1px solid silver;
}
.login-input:focus
{

}
.login-input::selection
{
    background: silver;
    color: white;
}
.login-logo
{
    margin-left: 70px;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
}
.login-btn
{
    font-size: 20px;
    height: 40px;
    width: 92%;
    border-radius: 20px;
    background: transparent;
    outline: none;
    border: 1px solid;
}


.login-btn:focus
{
    outline: none;
    transition: background-color .2s linear;

}
.login-btn:hover
{
    box-shadow: 0px 0px 0px 3px silver;
    background: black;
    color: white;
    transition: background-color 2s linear;
}

